
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<div class="card card-6">
    <div class="card-heading">
        <h2 class="title">Administrador de Listas de Contacto</h2>
    </div>
    <div class="card-body">
        <div class="form-row">
            <h4>ERROR: <span class="badge bg-danger">@ViewBag.message</span></h4>
        </div>
        <div class="form-row">
            <a class="stretched-link" href="~/Cloud/ListManagement">Ir al Inicio</a>
        </div>
    </div>

</div>

